%h1
  %b= @mobile.name

%p
  %b Brand:
  = @mobile.brand

%p
  %b Touchscreen:
  = @mobile.touchscreen ? 'yes' : 'no'

%p
  %b Display size:
  = @mobile.display_size

%p
  %b Weight:
  = @mobile.weight

%p
  %b Price:
  = @mobile.price
